flask
flask-login
flask-sqlalchemy
google-generativeai
gunicorn
matplotlib
numpy
pillow
psycopg2-binary
reportlab
scikit-learn
werkzeug
biopython
email-validator
oauthlib
openai
pypdf2
python-docx
python-dotenv
sendgrid
sqlalchemy
trafilatura
